{{#each this}}
	<span class="badge filter-label">
		{{attributeKey}} --- {{attributeValue}}
		<button type="button" class="close filter-remove" data-key="{{attributeKey}}" aria-hidden="true">&times;</button>
	</span>
{{/each}}