{{#each this}}
	<span class="badge filter-label">
		{{@key}} --- {{this}}
		<button type="button" class="close filter-remove" data-key="{{@key}}" aria-hidden="true">&times;</button>
	</span>
{{/each}}