<ul class="list-group">
 	{{#each this}}
 		<li class="list-group-item">
 			<span class="pull-right label label-primary">{{instances.length}}</span>
 			<a href="#roles/{{name}}">{{name}}</a>
 		</li>
 	{{/each}}
</ul>